h1, h3 {
    text-align: center;
    /* color: red; */
}

body {
    /* background-color: black; */
}

.blogicon {
    margin: auto;
    width : 8%;
    height: 8%;
}

p {
    text-align: center;
}

.loginform {
    margin: auto;
}

.bottomtab {
    margin: auto;
}

a {
    padding-top: 2%;
}

.userInfo {
    border: 1px solid black;
}